.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    letter-spacing: 3px;
}
@media only screen and (max-width: 600px) {
    .rainbow{
        font-size: 26px;
        letter-spacing: 0;

    }
}
.rainbow_text_animated {
    background: linear-gradient(to right, #ff0000, #ff7300 , #fff700, #22ff00, #03ddff, #9d00ff, #ff00dd);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 8s ease-in-out infinite;
    background-size: 400% 100%;
}
.rainbow_text_animated:hover {
    background: linear-gradient(to right, #000000, #fb0606, #fb0606, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.animateDrum {
    animation-name: mirror-drum;
    animation-duration: 2000ms;
}

@keyframes mirror-drum {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(-1, 1);
    }
    20% {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(-1, 1);
    }
    40% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(-1, 1);
    }
    60% {
        transform: scale(1, 1);
    }
    70% {
        transform: scale(-1, 1);
    }
    80% {
        transform: scale(1, 1);
    }
    90% {
        transform: scale(-1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.rollDice {
    animation-name: spin-dice;
    animation-duration: 2000ms;
}

@keyframes spin-dice {
    0% {
        opacity: 0;
        transform:translateX(-150px);
    }
    100% {
        opacity: 1;
        transform:translateX(0px) rotate(360deg);
    }

}
