// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    background-color: $dark-primary;
    color: $white;
}

main {
    width: 100%;
    height: 100%;
}


.container {
    width: 80%;
}

button {
    color: #ffffff !important;
}

.form-group {
    padding: 5px 0 5px 0;
}

select, input {
    background-color: rgb(69, 74, 76) !important;
    //background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    border-color: #766f64 !important;
    color: $white !important;
}


//Home
.quick-access-box {
    background-color: rgba(255, 255, 255, 0.690);
    border: solid 1px #99A0A4 !important;
    color: $black;


    .quick-access-logo {
        font-size: 50px;
        padding-bottom: 10px;
        color: $black;
        cursor: pointer;
    }

    .quick-access-logo:hover {
        background: rgb(255, 14, 248);
        background: linear-gradient(45deg, rgba(255, 14, 248, 1) 0%, rgba(210, 191, 73, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.has-background-image {
    width: 100%;
    height: 100%;
    background: center center;
    background-size: cover;
}

.sb-with {
    max-width: 200px !important;
}

.wrap-col {
    overflow-x: hidden;
}

//nav
.nav {
    a {
        color: #ffffff;
        text-decoration: none;

        &:hover, &:active, &:focus {
            color: $secondary;
        }
    }

}

.navbar-dark-under {
    border-top: 2px solid $primary;
    background-color: $dark-tertiary;
    width: 200px;
    margin-left: -24px;

    a {
        text-decoration: none;
    }
}

//Lyrics
#lyricsbox {
    background-color: #313334;

    .lyrics-sentence {
        font-size: 18px;

        &:hover {
            background: $dark-primary;
        }
    }
}

//Coin
#coinPage {
    height: 320px;

    .btn {
        height: 40px;
    }

    #hand i {
        transform: scale(-1, 1);
    }

    #coin {
        color: #FFD700FF;
    }

    .animateHand {
        width: 10px;
        animation: rotateHand 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    @keyframes rotateHand {
        0% {
            margin-top: 0px;
            transform: rotate(0deg)
        }
        25% {
            margin-top: 25px;
            transform: rotate(30deg)
        }
        75% {
            margin-top: 0px;
            transform: rotate(-20deg)
        }
        100% {
            margin-top: -50px;
            transform: rotate(-50deg)
        }
    }
}




