// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono|Work+Sans:400,700&display=swap');
// Variables
@import 'variables';
@import 'animation';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

::-webkit-scrollbar-thumb {
    background-color: #424242 !important;
    // background-color: #1e354e;
}

::-webkit-scrollbar {
    background-color: transparent !important
}


html,
body {
    height: 100%;
}

*:not(.rainbow_text_animated,a,input,textarea,button,.list-group-item-danger) {
    color: #f0e7dc;
}

.home {
    * {
        color: #000 !important;
    }

    .to-jas h1 {
        color: #ffffff !important;
    }

    .weather-wrap {
        position: relative;

        .location {
            position: absolute;
            bottom: 10px;
        }

        h1 {
            color: #ffffff !important;
        }
    }

    .score h1 {
        color: #ffffff !important;
    }
}

body.full-page {
    background-color: #000000;
}

.bg-dark-opacity {
    background-color: #00000091;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.bg-tertiary-dark {
    background-color: $dark-tertiary;
}

.bg-with-img {
    background: url('https://source.unsplash.com/collection/175083/1080x1080');
    background-size: cover;
}

.icon-back-big {
    font-size: 45px !important;
}

body {
    background-color: $dark-primary;
    color: $white;
}

main {
    width: 100%;
    height: 100%;
}


.container {
    width: 90%;
}

button {
    color: #ffffff !important;
}

.input-group-text {
    color: #ffffff !important;
}

.form-group {
    padding: 5px 0 5px 0;
}

select, input {
    background-color: rgb(69, 74, 76) !important;
    //background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    border-color: #766f64 !important;
    color: $white !important;
}

.hidden-input {
    display: none;
}

//Home
.quick-access-box {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(10.0px);
    border-radius: 10px;
    border: none;
    color: $black;

    form, .input-group {
        input {
            background: rgb(255, 255, 255) !important;
            color: $black !important;
        }
    }

    .nav-button {
        width: 75px;
        display: flex;
        flex-direction: column;
        color: black;
        flex-shrink: 1;
        text-decoration: none;
        text-overflow: ellipsis;
    }

    .nav-button-box {
        width: 80px;
        aspect-ratio: 1/1;
        border-radius: 12px;
        background: rgb(251,58,255);
        background: linear-gradient(180deg, rgba(251,58,255,1) 0%, rgba(237,214,11,1) 100%);
        transition: all 2s;
        font-size: 45px;
    }
    .nav-button-box:hover {
        background: rgb(251,58,255);
        background: linear-gradient(180deg, rgba(237,214,11,1) 0%, rgb(71, 237, 11) 100%);
    }

    .nav-button-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .top-image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .quick-access-logo {
        font-size: 50px;
        padding-bottom: 10px;

        cursor: pointer;
        text-shadow: none;
        background: rgb(0, 165, 207);
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover, &:active {
            color: $primary;
            text-shadow: 1px 1px 4px $primary;
            -webkit-text-fill-color: $primary;
        }
    }

    .news-item {
        transition: all 200ms;
    }

    .news-item:hover {
        background-color: rgba(255, 255, 255, 0.69);
    }
}

.quick-access-box.to-jas {
    color: white;
    h1 {
        font-weight: bold;
    }
}

.quick-access-box.weather {
    color: white;
    background-size: contain;
    h1 {
        font-weight: bolder;
        text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;;
    }

    .weather-wrap {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.quick-access-box.red {
    background-color: $danger;
}
.quick-access-box.green {
    background-color: #47ed0b;
}

.quick-access-box .border-bottom {
    border-color: #bfbfbf !important;
    padding: 10px;
}

.has-background-image {
    width: 100%;
    height: 100vh;
    background-size: cover;

}

//nav
.collapse-sidebar {
    margin-left: 79px;
    background: center;
    position: fixed;
    width: 40px;
    z-index: 2;
    background-color: $primary;

    i {
        &::before {
            content: "\f00d";
        }
    }

    &[aria-expanded="false"] {
        margin-left: 10px;
        backdrop-filter: blur(1);
        background-color: #00000020;

        i {
            &::before {
                content: "\f0c9";
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .collapse-sidebar {
        margin-left: 45vw;
        margin-top: 8px !important;

        &[aria-expanded="false"] {
            margin-left: 10px;
        }
    }
}


.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;

    &[aria-expanded="true"] {
        color: rgba(0, 0, 0, .85);

        &::before {
            transform: rotate(90deg);
        }
    }

    &::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,280,280,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    &:hover, &:focus {
        color: rgba(0, 0, 0, .85);
        background-color: $dark-secondary;
    }
}

.nav {
    a {
        color: #ffffff;
        text-decoration: none;

        &:hover, &:active, &:focus {
            color: $secondary;
        }
    }

}

#menu .active {
    color: $secondary;
}

.navbar-dark-under {
    border-top: 2px solid $primary;
    background-color: $dark-tertiary;
    margin-left: -24px;

    a {
        text-decoration: none;
    }

}

@media only screen and (min-width: 1000px) {
    .music-widget > .row {
        vertical-align: sub;
    }
    .music-widget > .row > .border-end {
        border-right: 1px solid #dee2e6 !important;
    }
    .music-widget > .row > .border-end > b {
        vertical-align: sub;
    }
}

.sidebar {
    position: fixed;
    margin-left: -15px;
    overflow-y: scroll;
    height: 100vh;
    max-width: 212px !important;

    li {
        width: 100% !important;

        a {
            width: 100%;

            &:hover, &:focus {
                background: $dark-secondary;
            }
        }

        .btn {
            width: 100% !important;
        }
    }

    .card {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .sidebar .collapse li {
        padding: 5px 0 5px 0;
    }
    .sidebar {

        .card {
            padding: 4px;
        }

        .profile {
            &.profile-picture {
                background-color: #fc6f96;
                width: 100%;
                height: 81px;

                .profile-text {
                    overflow: hidden;
                    color: #461282;
                }
            }
        }
    }
    .sidebar-behind {
        width: 200px;
        min-height: 100vh;
        background-color: $dark-secondary;
    }
    .navbar-dark-under {
        width: 200px;
        margin-left: -24px;
        margin-bottom: 50px;

    }
}

@media only screen and (max-width: 1000px) {
    .music-widget > .row > .border-end {
        border-right: 0 !important;
    }
    .music-widget > .row {
        width: 100%;
        border-bottom: darken($primary, 25%) 1px solid;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar .collapse li {
        padding: 10px 0 10px 0;
    }
    .sidebar, .sidebar-behind {
        width: 100vw;
        background-color: $dark-secondary;
    }
    .sidebar {
        max-width: 100% !important;
    }
    .navbar-dark-under {
        margin-left: 5px;
        margin-bottom: 100px;
        width: 100vw;

        .mb-lg-2 .text-lg-start {
            justify-content: center;
        }
    }

}

//Lyrics
#lyricsbox {
    background-color: $dark-tertiary;

    .lyrics-sentence {
        font-size: 18px;

        &:hover {
            background: $dark-primary;
        }
    }
}

//Coin
#coinPage {

    .btn {
        height: 40px;
    }

    #hand i {
        transform: scale(-1, 1);
    }

    #coin {
        color: #FFD700FF;
    }

    .hot-arena {
        height: 244.2px;
        background-color: $dark-tertiary;

        border-radius: 5px;
    }

    @media (max-width: 320px)
    {
        .x1 .x2 {padding: 50%;}
    }

    @media (min-width: 321px) and (max-width: 800px)
    {
        .x1 .x2 {padding: 25%;}
    }

    @media (min-width: 801px)
    {
        .x1 .x2 {padding: 12.5%;}
    }

    .animateHand {
        width: 10px;
        animation: rotateHand 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    @keyframes rotateHand {
        0% {
            margin-top: 0px;
            transform: rotate(0deg)
        }
        25% {
            margin-top: 25px;
            transform: rotate(30deg)
        }
        75% {
            margin-top: 0px;
            transform: rotate(-20deg)
        }
        100% {
            margin-top: -50px;
            transform: rotate(-50deg)
        }
    }
}

#rngPage {
    .rng-arena {
        height: 94.5px;
        // width: max-content;
        background-color: $dark-tertiary;

        border-radius: 5px;
    }
}

#dicePage {
    i {
        font-size: 70px;
    }
    .dice-arena {
        height: 94.5px;
        // width: max-content;
        background-color: $dark-tertiary;


        border-radius: 5px;
    }
}

//Lastfm
#lastfmBox {
    .badge {
        font-size: 16px;
    }

    .progress {
        height: 21px;
        font-size: 20px;
    }

    .progress-bar.bg-primary {
        color: $black;
    }

    .progress-bar.bg-danger {
        color: $white;
    }

    .insideBadge {
        position: absolute;
        margin-left: -30px;
    }
}

.list-group {
    a:hover {
        color: $white;
    }
}

.hidden-icon {
    transform: translateX(-11.5px);

    .icon {
        opacity: 0;
        transform: translateX(0);
        animation-name: fadeOutPlay;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 330ms;
        padding-right: 5px;
    }
}
.hidden-icon:hover {
    .icon {
        opacity: 1;
        transform: translateX(0);
        animation-name: fadeInPlay;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 330ms;
    }
}


@keyframes fadeInPlay {
	0% {
		opacity: 0;
        transform: translateX(-10px);
	}
	100% {
		opacity: 1;
        transform: translateX(0);
	}
}
@keyframes fadeOutPlay {
	0% {
		opacity: 1;
        transform: translateX(0px);
	}
	100% {
		opacity: 0;
        transform: translateX(-10px);
	}
}

.confetti {
    background-image: url(/images/confetti.gif);
    min-height: 100vh;
}

a[aria-expanded="true"] > .fa-chevron-down {
    transform: rotate(540deg);
    transition: transform .5s;
}

a[aria-expanded="false"] > .fa-chevron-down {
    transform: rotate(0deg);
    transition: transform .5s;
}


.card.with-footer {
    img {
        border-top-left-radius: 0.3rem;
    }
    .card-footer {
        background-color: #1a1a1f !important;
    }
}

[aria-expanded="1"]:before {
    transform: rotate(90deg);
}
